<%- include("partials/header") -%>



<div  class="container">
  <div style="margin: 0 auto;" class="row">
    <% for( var i=0; i<userData.length; i++){ %>

      <form class="col-lg-3 col-md-6 col-sm-12" style="text-align: center; width:250px;" action="/delete" method="post">
        <div>
          <% if((userData[i].googleId !== "" && userData[i].googleId !== undefined) || (userData[i].githubId !== "" && userData[i].githubId !== undefined)){ %>
          <img class="testimonial-image" src="<%= userData[i].imagename%>" alt="lady-profile">
            <% } else { %>
            <img class="testimonial-image" src="uploads/<%= userData[i].imagename%>" alt="lady-profile">
          <%} %>
          <div style=" border-radius:5%; background-color: #e8eae6; height: 200px;">
            <p style="font-weight: bold ;padding-top: 10px;"> <%= userData[i].name %></p>
            <h6 class="testimonial-text"><%= userData[i].review %></h6>
            <button id="deleteOption" type="submit" name="button" value="<%= userData[i]._id %>">
              <i  class=" fas fa-trash-alt" ></i>
            </button>
          </div>
        </div>
      </form>

    <% } %>
  </div>
</div>




<%- include("partials/footer") -%>
